input {
	padding: 8px 16px;
	border-radius: 8px;
	outline: none;
	border: 2px solid var(--light-gray);
	font-size: 16px;
	line-height: 24px;
	transition: all 0.05s linear;
	/* background: var(--lighter-gray); */
}

input:focus {
	outline-offset: -1px;
	outline: 2px solid var(--dark-pink);
	border: 2px solid transparent;
}

.helper-text {
	color: var(--red);
	font-size: small;
	margin-top: 2px;
	width: 100%;
	transition: all 0.1s linear;
	height: 17.6px;
}
.error-input,
.error-input:focus {
	outline-offset: -1px;
	outline: 2px solid var(--red);
	border: 2px solid transparent;
}

.fill-button {
	background-color: var(--dark-pink);
	color: white;
	border: none;
	outline: none;
	border-radius: 8px;
	padding: 8px 16px;
	font-size: 16px;
	line-height: 24px;
}

.sign-up-text {
	text-align: center;
	margin-bottom: 24px;
}

.link-text {
	color: var(--dark-pink);
}

.fill-available {
	width: -webkit-fill-available;
}
