body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --dark-pink: #F2789F;
  --pink: #F999B7;
  --light-pink: #F9C5D5;
  --lighter-pink: #FEE3EC;

  --red: #dc2626;

  --light-gray: #e5e5e5;
  --lighter-gray: #fafafa;
  
  --blue: #A6E3E9;
  --light-blue: #CBF1F5;
}